/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    169deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(155, 38, 204, 0.8062678062678063) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 530px;
  border-radius: 10px;
  margin: 100px auto 0;
  background-color: #fff;
  padding: 20px 25px;
}

.todo-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-head img {
  width: 40px;
  height: 40px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  border-radius: 40px;
}

.input-container input {
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #555;
  font-size: 16px;
  border-radius: 40px;
  font-weight: 500;
}

.input-container button {
  background-color: orangered;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 11px 40px;
  cursor: pointer;
}

.display-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin: 10px 0 0;
  padding: 10px;
  /* background-color: indianred; 
}

.display-container li {
  position: relative;
  list-style: none;
  margin-left: 30px;
}
.display-container li::before {
  position: absolute;
  top: 0px;
  left: -34px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.display-container li.checked {
  object-fit: cover;
  background-image: url(images/checked.png);
  text-decoration: line-through;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display-container li span {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    169deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(155, 38, 204, 0.8062678062678063) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 470px;
  padding: 10px 20px;
  margin: 0 16px;
  border-radius: 4px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .to-do {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container .to-do h1 {
  font-size: 28px;
  font-weight: 600;
}
.container .to-do img {
  width: 30px;
}

.container .add-to-do {
  width: 100%;
  background-color: indianred;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.group input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 15px;
}

.group button {
  background-color: orangered;
  border: none;
  outline: none;
  padding: 6px 30px;
  border-radius: 40px;
}

ul {
  padding: 10px;
}

ul li {
  list-style: none;
  padding: 5px;
  margin-left: 15px;
  position: relative;
}

ul li::before {
  position: absolute;
  top: 5px;
  left: -21px;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.to-do-list li.checked {
  text-decoration: line-through;
}
.to-do-list li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
}
